* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head {
    display: none;
}
body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

body {
    display: block;
    margin: 8px;
}
div {
    display: block;
}
#page-wrapper {
    position: relative;
}
header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}
@media (max-width: 650px){
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}
@media (max-width: 650px){
    .logo > img {
        margin: 0 auto;
    }
}

.logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}
@media (max-width: 650px){
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
}
nav {
    font-weight: 400;
}
@media (max-width: 650px){
    nav > ul {
        flex-direction: column;
    }
}
nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
@media (max-width: 650px){
    nav li {
        padding-bottom: 5px;
    }
}

li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
#hero {
    margin-top: 120px;
}
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type="email" i] {
    padding-block: 1px;
    padding-inline: 2px;
}
#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}
#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}
.grid {
    display: flex;
}
#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
#how-it-works > iframe {
    max-width: 560px;
    width: 100%;
}
iframe {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}